body
{ background: linear-gradient(#9B5E77, #9B5E77, #9B5E77, #C7A3B2);
  background-repeat:no-repeat;
  font-family: helvetica, arial, geneva; 
  height: 100vh;
  color: #000; 
  font-size: 12px; 
}


h1 {
  font-family: garamond, times new roman, times; 
  color: #000; 
  font-size: 14px; 
}
  
h2 {
  font-family: garamond, times new roman, times; 
  color: #000; 
  font-size: 12px; 
}

p {
  font-family: helvetica, arial, geneva; 
  color: #000; 
  font-size: 10px; 
}



.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  width: 80%;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  width: 80%;
}

.country {
  display: flex-column;
  background: url(https://i.pinimg.com/originals/6f/0f/eb/6f0feb3e61e16e2025877f8d1a879505.jpg);
  border: 0px #FFF;
  border-radius: 10px;
  width: 80%;
  height: 100%;
}

.ingredients {
  display: flex-column;
  background: #FFF;
  border: 0px #FFF;
}

.question-text {
  display:;
  background: #FFF;
  border: 0px #FFF;
}

.options {
  display:;
  background: #FFF;
  border: 0px #FFF;}

#True {}

#False {}

.controls {
  display:;
  background: #FFF;
  border: 0px #FFF;
  padding-top: 20px;
}

#explanation {
}

}


//*
.btn btn-option {
  padding: 10px;
  margin: 10px;
  background: #FAE6BE;
  border: 0px solid  #FF;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 0px;
}

.btn btn-restart, .btn btn-back, .btn btn-next, .btn btn-submit, {
  padding: 10px;
  margin: 10px;
  background: #F4C669;
  border: 0px solid  #F4C669;
  border-radius: 2px;
  box-shadow: 1px 1px 0px 0px;
}
*//

.btn {
  padding: 10px;
  margin: 10px;
  background: #FFFFFF;
  border: 1px solid  #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.btn:hover, .btn:active {
  background: #FAE6BE;
}

A:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:visited { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:active { 
  text-decoration: none;
  font-weight: bold;
  color:#000000; }
A:hover { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
