@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body
{ background: linear-gradient(#593645, #9B5E77, #9B5E77, #C7A3B2);
  background-repeat:no-repeat;
  font-family: 'Rubik', sans-serif;
  height: 100% !important;
  color: #000; 
  font-size: 12px; 
}


h1 {
  font-family: 'Rubik', sans-serif;
  color: #F8F3F5; 
  font-size: 30px; 
}
  
h2 {
  font-family: 'Rubik', sans-serif;
  color: #422933; 
  font-size: 20px; 
}

p {
  font-family: 'Rubik', sans-serif;
  color: #000; 
  font-size: 16px; 
}

p.source {
  font-family: 'Rubik', sans-serif;
  color: #bbb; 
  font-size: 8px; 
  text-align: right;
  margin-top: 0.6em;
}

.container1 {
  display: flex;
    display: flex-row;
    flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  width: 60%;
  gap: 1em;
}

.container2 {
  display: flex;
    display: flex-row;
    flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  width: 60%;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  width: 60%;
  height:400px;
}

.containerx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0px #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
  margin: 10px;
  gap: 1em;
}

.country {
  display: flex-column;
  flex: 2 1 auto;
  background: #FFFFFF;
  border: 0px #FFF;
  border-radius: 10px;
}

.country img {
  border-radius: 10px;
}

img {
  border-radius: 10px;
}

.ingredients {
  display: flex-column;
  flex: 1 1 auto;
  background: #FFF;
  border: 0px #FFF;
  padding:15px;
}

.question-text {
  display:;
  background: #FFF;
  border: 0px #FFF;
}

.options {
  display:;
  background: #FFF;
  border: 0px #FFF;
}


#map {
  height: 300px;
  width: 100%;
  flex: 1 1 0;
  display:;
  border-radius: 10px;
      }

#True {}

#False {}

.controls {
  display:;
  background: #FFF;
  border: 0px #FFF;
  padding-top: 20px;
}

#explanation {
}

}


.btn {
  padding: 10px;
  margin: 3px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
  width: 100px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px; 
}


button {
  padding: 10px;
  margin: 3px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
  width: 100px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px; 
}

A:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:visited { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:active { 
  text-decoration: none;
  font-weight: bold;
  color:#000000; }
A:hover { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
